html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
}

header {
  height: 65px;
}

.current {
  font-weight: bold;
}

li {
  list-style: none;
}

.hamburger {
  display: none;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover {
  color: #cf8a1f;
}

#Logo {
  height: 30px;
}

a {
  text-decoration: none;
  margin: auto;
}

@media only screen and (max-width: 1158px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 4rem;
    padding-bottom: 4rem;
    padding-left: 0;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 1;
  }

  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 1rem;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    top: 0;
    right: 0;
    position: absolute;
    margin-top: 15px;
    margin-right: 15px;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
  }
}

main {
  min-height: 70vh;
  overflow: hidden;
  position: relative;
  display: block;
}

footer {
  background-color: #3e4245;
  padding: 30px 0px 30px 0px;
  position: relative;
  margin: 0;
  width: 100%;
}

#hours {
  font-size: 15px;
  padding-bottom: 15px;
}

table {
  font-size: 10px;
  font-weight: bold;
  color: #ffffff;
  display: flex;
  justify-content: center;
  border-spacing: 35px 5px;
}

@media screen and (min-width: 768px) {
  table {
    font-size: 20px;
    justify-content: left;
    margin-left: 10%;
  }

  #hours {
    font-size: 26px;
  }

  header {
    height: 50px;
  }

  #Logo {
    height: 50px;
    margin-left: 10px;
    float: left;
  }

  .navbar {
    justify-content: space-between;
    align-items: flex-end;
  }

  .nav-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .nav-item {
    margin-left: 30px;
    margin-top: 20px;
    margin-right: 15px;
  }
  .nav-link {
    margin-left: 0;
  }

  a {
    text-decoration: none;
    margin: right;
  }
}
