h1 {
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  padding-top: 90px;
  color: #ffffff;
}

h2 {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
}

#background {
  height: 200px;
  background: url(../images/background2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.newsGrid {
  display: grid;
  padding-bottom: 20px;
}

#news {
  font-size: 24px;
  font-weight: bold;
  margin-left: 5%;
  margin-bottom: 0%;
  color: #3e4245;
}

.aeronautics img {
  width: 100%;
}

.aeronautics {
  text-decoration: none;
  font-size: 22px;
  text-align: center;
  border: 1px #707070 solid;
  margin: 2.5% 5% 2.5% 5%;
}

.aeronautics :hover {
  opacity: 0.9;
}

.cosmology :hover {
  opacity: 0.9;
}

.aeronautics p {
  color: #1e80ce;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  margin-top: 2%;
  margin-bottom: 2%;
}

.exhibitionsGrid {
  display: grid;
  padding-bottom: 20px;
}

#exhibitions {
  font-size: 24px;
  font-weight: bold;
  margin-left: 5%;
  margin-bottom: 0%;
  color: #3e4245;
  padding-top: 20px;
}

.cosmology img {
  width: 100%;
}

.cosmology p {
  color: #1e80ce;
  font-weight: bold;
  text-align: center;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

.cosmology {
  font-size: 24px;
  border: 1px #707070 solid;
  margin: 2.5% 5% 2.5% 5%;
}

a {
  text-decoration: none;
}

.buttonGrid {
  display: grid;
}

#visit {
  margin: auto;
  margin-top: 30px;
  width: 220px;
  height: 50px;
  background-color: #1e80ce;
  text-align: center;
  padding-top: 13px;
}

#visit a {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

#involved {
  margin: auto;
  text-align: center;
  margin-top: 25px;
  padding-top: 13px;
  width: 220px;
  height: 50px;
  background-color: #cf8a1f;
}

#involved a {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

#explore {
  margin: auto;
  margin-top: 25px;
  margin-bottom: 40px;
  width: 220px;
  height: 50px;
  text-align: center;
  padding-top: 13px;
  background-color: #009e00;
}

#explore a {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

#backgroundExhibition {
  background-color: #cecece;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 83px;
    padding-top: 200px;
  }

  h2 {
    font-size: 50px;
  }

  #background {
    height: 600px;
  }

  .newsGrid {
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 10%;
    padding-right: 10%;
  }

  #news {
    font-size: 50px;
    padding-left: 6.5%;
    margin-bottom: 0;
  }

  .aeronautics {
    font-size: 30px;
  }

  .exhibitionsGrid {
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 10%;
    padding-right: 10%;
  }

  .cosmology {
    font-size: 30px;
  }

  #exhibitions {
    font-size: 50px;
    padding-left: 6.5%;
    margin-bottom: 0%;
    padding-top: 40px;
  }

  .buttonGrid {
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 80px;
    margin-bottom: 80px;
  }

  #visit {
    margin-top: 25px;
    width: 90%;
    height: 60%;
    margin-bottom: 40px;
  }

  #visit a {
    font-size: 40px;
  }

  #involved {
    width: 90%;
    height: 60%;
  }

  #involved a {
    font-size: 40px;
  }

  #explore {
    width: 90%;
    height: 60%;
  }

  #explore a {
    font-size: 40px;
  }
}
