h1 {
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  padding-top: 90px;
  color: #ffffff;
}

h2 {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
}

#background {
  height: 200px;
  background: url(../images/background2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.newsGrid {
  display: grid;
}

#news {
  font-size: 18px;
  font-weight: bold;
  margin-left: 5%;
}

.aeronautics img {
  width: 100%;
}

.aeronautics {
  text-decoration: none;
  font-size: 22px;
  text-align: center;
  border: 1px #707070 solid;
  margin: 2.5% 5% 2.5% 5%;
}

.exhibitionsGrid {
  display: grid;
  background-color: #cecece;
  width: 100%;
}

#exhibitions {
  font-size: 18px;
  font-weight: bold;
  margin-left: 5%;
}

.cosmology img {
  width: 100%;
}

.cosmology {
  text-decoration: none;
  font-size: 34px;
  text-align: center;
  border: 1px #707070 solid;
  margin: 2.5% 5% 2.5% 5%;
  color: #1e80ce;
  font-weight: bold;
}

a {
  text-decoration: none;
}
