h1 {
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  padding-top: 90px;
  color: #ffffff;
}

h2 {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
}

#background {
  height: 200px;
  background: url(../images/background2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.newsGrid {
  display: grid;
}

#news {
  font-size: 24px;
  font-weight: bold;
  margin-left: 5%;
}

.aeronautics img {
  width: 100%;
}

.aeronautics {
  text-decoration: none;
  font-size: 22px;
  text-align: center;
  border: 1px #707070 solid;
  margin: 2.5% 5% 2.5% 5%;
}

.aeronautics p {
  color: #1e80ce;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  margin-top: 2%;
  margin-bottom: 2%;
}

.exhibitionsGrid {
  display: grid;
  background-color: #cecece;
  width: 100%;
}

#exhibitions {
  font-size: 24px;
  font-weight: bold;
  margin-left: 5%;
}

.cosmology img {
  width: 100%;
}

.cosmology p {
  color: #1e80ce;
  font-weight: bold;
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

.cosmology {
  font-size: 24px;
  border: 1px #707070 solid;
  margin: 2.5% 5% 2.5% 5%;
}

a {
  text-decoration: none;
}

.buttonGrid {
  display: grid;
}

.visit {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.visit a {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  background-color: #1e80ce;
  padding: 10px 50px;
}

.involved {
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
}

.involved a {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  background-color: #c48900;
  padding: 10px 21px;
}

.explore {
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  margin-bottom: 10%;
}

.explore a {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  background-color: #009e00;
  padding: 10px 51px;
}
