h1 {
  color: #1e80ce;
  font-size: 20px;
  margin-left: 3%;
}

#locationImg {
  width: 95%;
  margin: auto;
  display: block;
}

#locationText {
  width: 90%;
  font-size: 16px;
  margin: auto;
  display: block;
}

h2 {
  font-size: 18px;
  margin-left: 3%;
  color: #1e80ce;
}

.tableVisit {
  color: black;
  float: left;
  font-size: 14px;
  font-weight: normal;
}

#closed {
  color: red;
}

h3 {
  font-size: 18px;
  color: #1e80ce;
  margin-top: 220px;
  margin-left: 3%;
}

#foodImg {
  width: 95%;
  margin: auto;
  display: block;
}

#foodText {
  width: 90%;
  font-size: 16px;
  margin: auto;
  display: block;
}

h4 {
  font-size: 18px;
  color: #1e80ce;
  margin-left: 3%;
}

#shopImg {
  width: 48%;
  margin-left: 2%;
}

#shopText {
  width: 48%;
  float: right;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 50px;
    margin-left: 10%;
    margin-top: 5%;
  }

  #locationImg {
    width: 40%;
    margin-left: 5%;
    float: left;
    margin-top: 38px;
  }

  #locationText {
    font-size: 30px;
    width: 50%;
    float: right;
  }

  h2 {
    font-size: 46px;
    margin-left: 10%;
    margin-top: 600px;
  }

  .tableVisit {
    font-size: 33px;
    float: none;
  }

  h3 {
    font-size: 46px;
    margin-left: 10%;
  }

  #foodImg {
    width: 40%;
    margin-left: 5%;
  }

  #foodText {
    font-size: 30px;
    width: 50%;
    float: right;
  }

  h4 {
    font-size: 46px;
    margin-left: 10%;
  }

  #shopImg {
    width: 40%;
    float: right;
    margin-top: -100px;
    margin-right: 5%;
  }

  #shopText {
    font-size: 30px;
    width: 40%;
    float: left;
    margin-left: 10%;
    margin-top: 0%;
  }
}
