h1 {
  color: #1e80ce;
  font-size: 20px;
  margin-left: 4%;
}

#locationImg {
  width: 140px;
  margin-left: 4%;
  margin-top: 15px;
}

#locationText {
  width: 200px;
  float: right;
  font-size: 13px;
}
